.logo img{ 
    width: 42.139px;
    height: 41px;
    margin-right: 17px;
}

.logo span{
    color: #FFF;

font-family: Inter;
font-size: 38px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.38px;

}
